In [5]:
# 1. soluction
marks = int(input("entar a numbar"))
if marks>90 :
    print ("you will be grade A batch" )
elif marks>80 and marks<=90:
    print("you will be grade B batch")
elif marks>=60 and marks<=80:
    print("you will be grade C batch")
else:
    print("you will be grage D batch")

entar a numbar  75

you will be grade C batch

In [37]:
# 2. soluction 
tax=int(input("entar cost prices Rs"))
if tax >=100000:
    a= tax*15/100
    print("tax in 15%\n tax prices this amount=", a,"Rs")
elif tax >50000 and tax<100000:
    b= tax*10/100
    print("tax in 10%\n tax prices this amount=",b,"Rs")
else:
    c= tax*5/100
    print("tax in 5 %\n tax prices this amount=",c,"Rs")

entar cost prices Rs 762354

tax in 15%
 tax prices this amount= 114353.1 Rs

In [2]:
#3 soluction
print("chosses the city and find monuments\n city name- DELHI, AGRA, JAIPUR")
int(input("entar a city name following chart"))
l1=["delhi","agra","jaipur"]
for i in l1:
    if i== "delhi":
        print("red fort")
    elif i== "agra":
        print("taj mahal")
    elif i== "jaipur":
        print("jai mahal")

chosses the city and find monuments
 city name- DELHI, AGRA, JAIPUR

entar a city name following chart delhui

ValueError: invalid literal for int() with base 10: 'delhui'

In [4]:
# 4 soluction
n=int(input("entar a number"))
if n%3==0:
    print("divided bye 3")
else:
    print("not divided by 3")

entar a number 21

divided bye 3

In [9]:
# 5 soluction
'''Python While Loop is used to execute a block of statements
repeatedly until a given condition is satisfied. And when
the condition becomes false, the line immediately after the loop in the program is executed.'''
n=int(input("entar a number"))
i=1
while i<=n:
    print(i)
    i=i+2

entar a number 6

1
3
5

In [10]:
# 6 soluction
#sum n netural number
n=int(input("inter a number"))
i=1
s=0
while i<=n:
    s=s+i
    i+=1 
print("sum of n number",s)
#

inter a number 7

sum of n number 28

In [ ]:
# 7 soluction
i=10
while i10:
    print(i)
i=i-1