In [2]:
#for loop
'''The initialization is done only once, and it is never repeated
Hence, it executes once all statements in loop have been executed.
not mentioned in the 'for' loop, then the loop iterates infinite number of times'''
l=[1,2,3,4,5,6,7]
for i in l:
    print(i)


#while loop
'''condition is not mentioned in the 'while' loop, it results in a compilation error.
only when the number of iterations isnâ€™t known.
iteration statement can be written within any point inside the loop.'''
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
1
2
3
4
5
6
7
8
9
10

In [3]:
# 2 soluction
n=int(input("entar a number"))
i=1
s=0
a=1
while i<=n:
    s=s+i
    a=a*i
    i=i+1
print("sum is=",s)
print("product is = ",a)

entar a number 5

sum is= 15
product is =  120

In [4]:
# 2 soluction

n = int(input("Please enter the number: "))

s = 0
a=1
for i in range(1,n+ 1):
    s = s +i
    a=a*i
print("sum is=",s)
print("produt is =",a)

Please enter the number:  10

sum is= 55
produt is = 3628800

In [2]:
#3. soluction
n=int(input("entar electricity unit"))
if n<100:
    a=n*4.5
    print("par unit charge in 4.5\n your electricity biil is =",a ,"rs")
elif n<200:
    b=n*6
    print("par unit charge in 6\nyour electricity biil is = ",b,"rs")
elif n<300:
    c=n*10
    print("par unit charge in 10\nyour electricity biil is = ",c ,"rs")
elif n>300:
    d=n*20
    print("par unit charge in 20\nyour electricity biil is = ",d ,"rs")

entar electricity unit 80

par unit charge in 4.5
 your electricity biil is = 360.0 rs

In [31]:
#4. soluction
a=[]
for i in range(1,101):
    a.append(i**3)
l=[]
for i in a :
    if i%4==0 or i%5==0:
        l.append(i)
print(l)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [40]:
a=list("I want to become a data scientist")
def vowel(x):
    v=('a','e','i','o','u')
    return x in v

b=list(filter(vowel,a))
print(len(b))

11